.hero {
  margin: 20px 0;
  &__title {
    color: #038d00;
    font-weight: 400;
    font-size: 50px;
    line-height: 70px;

    @media (max-width: 900px) {
      font-size: 40px;
    }
  }

  &__line {
    width: 20%;
    border: 1px solid #038d00;
  }

  .dish {
    width: 30%;

    &__line {
      width: 30%;
      border: 1px solid #038d00;
    }

    &__title {
      font-size: 30px;
      line-height: 36px;
      color: #303030;
      font-weight: 400;
    }

    &__btn {
      background: #ffffff;
      border: 1px solid #038d00;
      box-shadow: 0px 0px 15px rgba(245, 85, 69, 0.15);
      border-radius: 30px;
      text-decoration: none;
      color: #038d00;
      padding: 10px 30px;
      transition: all 500ms ease;

      &:hover {
        transform: scale(1.05);
      }
    }

    @media (max-width: 1200px) {
      width: 40%;
    }

    @media (max-width: 991px) {
      width: 80%;
    }
  }
}

.recipe {
  &__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #303030;
  }
}

.recipes__card {
  padding: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  width: 20%;
  transition: 0.3s ease-in-out;
  &:hover {
    transition: 0.3s ease-in-out;
    scale: 103%;
  }
  &_lvl_stars {
    img {
      border-radius: 0px !important;
    }
  }

  &_head {
    padding: 5px;

    &_title {
      text-align: center;
      padding: 5px;
    }

    &_lvl {
      font-weight: 500;
    }
  }

  img {
    width: 100%;
    border-radius: 0 0 20px 20px;
  }


  @media (max-width: 991px) {
    width: 40%;
  }

  @media (max-width: 480px) {
    width: 80%;
  }
}

.blog__cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  .blog__card {
    width: 32%;
    background: #ffffff;
    box-shadow: 2px 2px 30px rgba(61, 77, 110, 0.1);
    border-radius: 10px;

    &_content {
      padding: 20px 10px;
    }

    &_btn {
      color: #ffffff;
      text-decoration: none;
      padding: 7px 15px;
      background-color: #038d00;
      border-radius: 30px;
    }

    transition: 0.3s ease-in-out;
  &:hover {
    transition: 0.3s ease-in-out;
    scale: 103%;
  }

  @media (max-width: 1200px) {
    width: 40%;
  }

  @media (max-width: 991px) {
    width: 80%;
  }
  }
}

.about__img {
  object-fit: contain;
}

.about {
  background-image: url(./assets/img/bg-homePage.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

