// Import libraries css
@import url('./style/libs/bootstrap.min.css');
// @import './style/libs/font-awesome.min.css';
// Global styles for the app
@import 'style/global/fonts';
@import 'style/global/variables';
@import 'style/global/mixins';

// Local styles for pages and components
@import './style/pages/about';
@import './style/components/header';
@import './style/pages/recipies';

.hero {
    height: 100px;
}

.recipies {
    font-size: 15.3;
    hr {
        width: 50%;
        color: #038D00;
    }

    & .line {
        width: 50%;
        border-top: 1px solid #038D00;
    }
}

.hero__title {
    color: #038D00;

}

.recipies__card {
    padding: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    max-width: 300px;
    transition: 0.3s ease-in-out;
    &:hover {
        transition: 0.3s ease-in-out;
        scale: 103%;
    }

    &_head {
        padding: 5px;

        &_title {
            text-align: center;
            padding: 5px;
        }

        &_lvl {
            font-weight: 500;
        }
    }


    img {
        width: 100%;
        border-radius: 0 0 20px 20px;
    }
}


.output-info {
    font-size: 1.5rem;
    color: #f00;
    margin: 10px;
}